@import "tailwindcss";

/* Luxury scrollbar */
.luxury-scroll::-webkit-scrollbar {
  width: 36px;
}

.luxury-scroll::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px;
}

.luxury-scroll::-webkit-scrollbar-thumb {
  background: #ff9a8b; /* soft pink */
  border-radius: 00px;
}

.luxury-scroll::-webkit-scrollbar-thumb:hover {
  background: #ff7f6e;
}

/* Firefox support */
.luxury-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ff9a8b #ffffff;
}
